@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
  * {
    @apply selection:bg-blue-900/10  selection:text-blue-800 dark:selection:bg-green-700/10 dark:selection:text-green-300;
  }
  body {
    @apply text-[hsl(var(--foreground))];
  }
}

@layer utilities {
  .hover-card {
    @apply bg-zinc-50 hover:bg-zinc-100 hover:ring-1 hover:ring-zinc-200 dark:bg-zinc-900 dark:hover:bg-zinc-800 dark:hover:ring-zinc-600;
  }
}

.bg {
  background-image: url('/zd.png');
  background-size: contain;
}

.shiki {
  @apply bg-[#f9f9f9] dark:bg-[#18181b];
}

.shiki .line > span {
  @apply text-[var(--shiki-light)] dark:text-[var(--shiki-dark)];
}
