@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    background-color: rgb(5, 5, 5);
  }
  * {
    @apply selection:bg-zinc-400/40  selection:text-white dark:selection:bg-white/60 dark:selection:text-black;
  }
  body {
    @apply text-[hsl(var(--foreground))];
  }
}

@layer utilities {
  .hover-card {
    @apply bg-zinc-50  hover:ring-1 hover:ring-zinc-200 dark:bg-zinc-900 dark:hover:ring-zinc-600;
  }
}

.bg {
  background-image: url('/zd.png');
  background-size: contain;
}

.shiki {
  @apply bg-[#f9f9f9] dark:bg-[#18181b];
}

.shiki .line > span {
  @apply text-[var(--shiki-light)] dark:text-[var(--shiki-dark)];
}

@keyframes AmazingRaysRun {
  0% {
    filter: hue-rotate(540deg) saturate(7);
  }
  50% {
  }
  100% {
    filter: hue-rotate(180deg) saturate(7);
  }
}
.amazing-rays {
  filter: hue-rotate(540deg) saturate(7);
  animation: 20s AmazingRaysRun ease-out infinite;
}
